html, body {
    background-color: #EAEAEA!important;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100%;
}

body {
    width: 100%;
}

.Home {
    min-height: 500px;   
}

.tabContent {
    padding: 30px;
}

.tab {
    width: 33.3333%;
}

.Search {
    margin-bottom: 20px!important;
    min-width: 300px!important;
    width: 100%!important;
}

.MuiButtonBase-root .tab{
    width: 33.3333%;
}

.media {
    max-width: 100%;
    width: 526px;
    margin-bottom: 15px;
    height: 159px;
}

@media only screen and (max-width: 700px) {
    #root {
      width: 95%!important;
    }
}
