.root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  margin-left: 8px;
  flex: 1;
}

.iconButton {
  padding: 10px;
  margin-right: 80px;
}

.divider {
  width: 1;
  height: 28;
  margin: 4;
}
