.root {
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  flex: 1;
  min-width: 350px;
  border: none!important;
  box-shadow: none!important;
  border-radius: 0px;
}

.iconButton {
  padding: 10px;
  margin-right: 80px;
}

.divider {
  width: 1;
  height: 28;
  margin: 4;
}

.css-1g48xl4-IndicatorsContainer {
  display: none!important;
}

.css-yk16xz-control {
  border: none!important;
}

.css-1pahdxg-control, .css-1laa021-allyText {
  border-color:transparent!important;
  border: none;
}

.css-yk16xz-control {
  border: none!important;
  box-shadow: none!important;
}

.react-select__control:focus {
  border-radius: 0px !important;
}